@import 'scss/reset';
@import 'scss/base';

//ORANGE : #FF6A00
//CLEAR ORANGE : #FFF4ED
//BLUE : #0256FF
//CLEAR BLUE : #EDF3FF
//GREEN : #3DCD5C
//CLEAR GREEN : #F1FBF3

body {
  padding: 32px;
  max-width: 1280px;
  margin: auto;

  p{
    font-family: 'DM Sans';
  }
}

h1{
  font-family: 'Syne';
  text-align: center;
  font-weight: 700;
  font-size: 3em;
}

.one{
  margin-top: 32px;
}

h2{
  font-family: 'DM Sans';
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}


.p1qx{
  margin-top: 16px;
}

label{
    font-family: 'DM Sans';
    font-size: 1.25em;
}

.inputs{
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

input{
  border: 1px solid black;
  font-family: 'DM Sans';
  height: 30px;
  width: 200px;
  padding-left: 3px;
}

.btnValidate{
  border: 1px solid black;
  margin-left: 12px;
  padding: 4px;
  font-family: 'Montserrat';
  font-size: 0.85em;
}

.responses{
  margin-top: 8px;
  text-align: center;
}
