@import 'scss/reset';
@import 'scss/base';

//ORANGE : #FF6A00
//CLEAR ORANGE : #FFF4ED
//BLUE : #0256FF
//CLEAR BLUE : #EDF3FF
//GREEN : #3DCD5C
//CLEAR GREEN : #F1FBF3

body {
  padding: 32px;
}

h1{
  font-family: 'Montserrat';
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

